# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
env/
.env

# IDE / Editor specific
.vscode/
.idea/

# OS specific
.DS_Store

# Local secrets
*.env

.mypy_cache/
.pytest_cache/
.ruff_cache/
